{% extends 'base.html' %}
{% block content %}
<h2>Recuperar Senha</h2>
<form method="POST">
    <div class="mb-3 col-lg-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3 col-lg-3">
        <label for="palavra_chave" class="form-label">Palavra-chave</label>
        <input type="text" class="form-control" id="palavra_chave" name="palavra_chave" required>
    </div>
    <div class="mb-3 col-lg-2">
        <label for="nova_senha" class="form-label">Nova Senha</label>
        <input type="password" class="form-control" id="nova_senha" name="nova_senha" required>
    </div>
    <div class="mb-3 col-lg-2">
        <label for="confirmar_senha" class="form-label">Confirmar Nova Senha</label>
        <input type="password" class="form-control" id="confirmar_senha" name="confirmar_senha" required>
    </div>
    <button type="submit" class="btn btn-primary">Recuperar Senha</button>
    <a href="{{ url_for('auth.login') }}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
