{% extends 'base.html' %}
{% block content %}
<h2>Minhas Receitas</h2>
<a href="{{ url_for('receitas.nova_receita') }}" class="btn btn-success mb-3">Nova Receita</a>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Data</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for receita in receitas %}
        <tr>
            <td>{{ receita.id }}</td>
            <td>{{ receita.descricao }}</td>
            <td>{{ receita.valor }}</td>
            <td>{{ receita.data }}</td>
            <td>
                <a href="{{ url_for('receitas.listar_receitas') }}" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
