{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Bem-vindo(a), {{ current_user.nome }}!</h2>

    <!-- Tabelas lado a lado para receitas e despesas -->
    <div class="row mt-4">
        <!-- Tabela de Receitas -->
        <div class="col-lg-6">
            <div class="d-flex justify-content-between align-items-center">
                <h4>Receitas</h4>
                <a href="{{ url_for('receitas.nova_receita') }}" class="btn btn-success mb-1">+ Nova Receita</a>
            </div>
            <div class="table-container">
                <table class="table table-dark table-bordered table-striped">
                    <thead class="table-success">
                        <tr>
                            <th class="col-id text-center" style="width: 7%;">#</th>
                            <th style="width: 48%;">Descrição</th>
                            <th style="width: 25%;">Valor</th>
                            <th style="width: 20%;">Data</th>
                            <th style="width: 10%;">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if receitas %}
                            {% for receita in receitas %}
                            <tr>
                                <td class="text-center">{{ loop.index }}</td>
                                <td>{{ receita.descricao }}</td>
                                <td>R$ {{ '%.2f' | format(receita.valor) }}</td>
                                <td>{{ receita.data }}</td>
                                <td class="text-center align-middle">
                                    <form method="POST" action="{{ url_for('receitas.excluir_receita', id=receita.id) }}" style="display:inline;">
                                        <button class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja excluir esta receita?');">
                                            🗑️
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4" class="text-center">Nenhuma receita cadastrada. Use o botão acima para adicionar.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>                

        <!-- Tabela de Despesas -->
        <div class="col-lg-6">
            <div class="d-flex justify-content-between align-items-center">
                <h4>Despesas</h4>
                <a href="{{ url_for('despesas.nova_despesa') }}" class="btn btn-danger mb-1">+ Nova Despesa</a>
            </div>
            <div class="table-container">
                <table class="table table-dark table-bordered table-striped">
                    <thead class="table-danger">
                        <tr>
                            <th class="col-id text-center" style="width: 7%;">#</th>
                            <th style="width: 35%;">Descrição</th>
                            <th style="width: 20%;">Valor</th>
                            <th style="width: 20%;">Data</th>
                            <th style="width: 8%;">Tipo</th>
                            <th style="width: 10%;">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if despesas %}
                            {% for despesa in despesas %}
                            <tr>
                                <td class="text-center">{{ loop.index }}</td>
                                <td>{{ despesa.descricao }}</td>
                                <td>R$ {{ '%.2f' | format(despesa.valor) }}</td>
                                <td>{{ despesa.data }}</td>
                                <td>{{ despesa.tipo.descricao }}</td>
                                <td class="text-center align-middle">
                                    <form method="POST" action="{{ url_for('despesas.excluir_despesa', id=despesa.id) }}" style="display:inline;">
                                        <button class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja excluir esta despesa?');">
                                            🗑️
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="5" class="text-center">Nenhuma despesa cadastrada. Use o botão acima para adicionar.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>    
    </div>

    <!-- Separação com linha horizontal -->
    <hr class="my-4">

    <!-- Parte dos gráficos -->
    {% if despesas and receitas %}
    <!-- <div class="row mb-4">
        <div class="col-md-4">
            <label for="start_date" class="form-label">Data Inicial</label>
            <input type="date" class="form-control" id="start_date">
        </div>
        <div class="col-md-4">
            <label for="end_date" class="form-label">Data Final</label>
            <input type="date" class="form-control" id="end_date">
        </div>
        <div class="col-md-4 d-flex align-items-end">
            <button class="btn btn-primary w-100" onclick="filterData()">Filtrar</button>
        </div>
    </div> -->

    <div class="row">
        <div class="col-md-4">
            <h5>Despesas por Valor</h5>
            <div style="width: 100%; height: 300px;">
                <canvas id="despesasChart"></canvas>
            </div>
        </div>
        <div class="col-md-4">
            <h5>Despesas por Tipo</h5>
            <div style="width: 100%; height: 300px;">
                <canvas id="tiposChart"></canvas>
            </div>
        </div>
        <div class="col-md-4">
            <h5>Resumo: Despesas vs Receitas</h5>
            <div style="width: 100%; height: 300px;">
                <canvas id="tacometroChart"></canvas>
            </div>
        </div>
    </div>
    
    {% else %}
    <div class="alert alert-warning mt-4">
        <p>Para visualizar os gráficos, cadastre ao menos uma receita e uma despesa.</p>
    </div>
    {% endif %}
</div>

<!-- Scripts para Gráficos -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    {% if despesas and receitas %}
    const despesasData = {
        labels: {{ despesas_labels|tojson }},
        datasets: [{
            label: 'Valor (R$)',
            data: {{ despesas_values|tojson }},
            backgroundColor: 'rgba(75, 192, 192, 0.6)', // Cor de fundo
            borderColor: 'rgba(255, 255, 255, 1)', // Cor da borda (branca)
            borderWidth: 1.5 // Espessura da borda
        }]
    };

    const tiposData = {
        labels: {{ tipos_labels|tojson }},
        datasets: [{
            label: 'Valor (R$)',
            data: {{ tipos_values|tojson }},
            backgroundColor: 'rgba(153, 102, 255, 0.6)', // Cor de fundo
            borderColor: 'rgba(255, 255, 255, 1)', // Cor da borda (branca)
            borderWidth: 1.5 // Espessura da borda
        }]
    };

    const tacometroData = {
        labels: ['Despesas', 'Receitas'],
        datasets: [{
            data: [{{ total_despesas }}, {{ total_receitas - total_despesas }}],
            backgroundColor: ['rgba(255, 99, 132, 0.6)', 'rgba(54, 162, 235, 0.6)'],
            borderWidth: 1.5 // Espessura da borda
        }]
    };

    // Função para classificar os dados por ordem decrescente
    function sortChartData(data) {
        const sortedData = data.labels
            .map((label, index) => ({
                label: label,
                value: data.datasets[0].data[index]
            }))
            .sort((a, b) => b.value - a.value); // Classificação decrescente

        // Reorganize os labels e datasets com os dados classificados
        data.labels = sortedData.map(item => item.label);
        data.datasets[0].data = sortedData.map(item => item.value);
    }

    // Classifique os dados do gráfico de tipos antes de inicializá-lo
    sortChartData(despesasData);

    // Classifique os dados do gráfico de tipos antes de inicializá-lo
    sortChartData(tiposData);

    new Chart(document.getElementById('despesasChart'), {
        type: 'bar',
        data: despesasData,
        options: {
            responsive: true,
            maintainAspectRatio: false,
            indexAxis: 'y', // Gráfico de barras horizontal
            plugins: {
                legend: {
                    labels: {
                        color: 'lightgrey' // Cor da legenda
                    },
                    position: 'top'
                }
            },
            scales: {
                x: {
                    beginAtZero: true,
                    ticks: {
                        color: 'grey' // Cor da fonte do eixo X
                    }
                },
                y: {
                    beginAtZero: true,
                    ticks: {
                        color: 'white' // Cor da fonte do eixo Y
                    }
                }
            }
        }
    });


    new Chart(document.getElementById('tiposChart'), {
        type: 'bar',
        data: tiposData,
        options: {
            responsive: true,
            maintainAspectRatio: false,
            indexAxis: 'y', // Gráfico de barras horizontal
            plugins: {
                legend: {
                    labels: {
                        color: 'lightgrey' // Cor da legenda
                    },
                    position: 'top'
                }
            },
            scales: {
                x: {
                    beginAtZero: true,
                    ticks: {
                        color: 'grey' // Cor da fonte do eixo X
                    }
                },
                y: {
                    beginAtZero: true,
                    ticks: {
                        color: 'white' // Cor da fonte do eixo Y
                    }
                }
            }
        }
    });

    new Chart(document.getElementById('tacometroChart'), {
        type: 'doughnut',
        data: tacometroData,
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    labels: {
                        color: 'lightgrey' // Cor da legenda
                    },
                    position: 'top'
                }
            }
        }
    });

    {% endif %}

    // Funções auxiliares
    function filterData() {
        const startDate = document.getElementById('start_date').value;
        const endDate = document.getElementById('end_date').value;
        console.log('Filtro aplicado:', startDate, endDate);
        // Implementar filtro no backend e recarregar os dados
    }

    function toggleOrder(chartId) {
        const chart = Chart.getChart(chartId);
        chart.data.datasets[0].data.reverse();
        chart.update();
    }

</script>
{% endblock %}
